# ==============================================================================
# API CONFIGURATIONS
# ==============================================================================
# Development
VITE_API_URL=http://localhost:8000
VITE_ENVIRONMENT=development

# Production (Pastikan tidak ada slash (/) di paling akhir)
# VITE_API_URL=https://myapp.railway.app
# VITE_ENVIRONMENT=production

# ==============================================================================
# OTHER PUBLIC CONFIGURATIONS
# ==============================================================================
VITE_TIMEOUT_LIMIT=10000
