# =========================
# Python
# =========================
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
**/.env
**/.env.*

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Node (Frontend)
# =========================
node_modules/
dist/
dist-ssr/
*.local

# =========================
# Editor & OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db