# =========================
# Python
# =========================
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.production
**/.env
**/.env.production

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Node (Frontend)
# =========================
node_modules/
.vite/
dist/
dist-ssr/
*.local

# =========================
# Editor & OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
test.db
.pytest_cache/
*.db

# Internal files
draft.md
AGENTS.md