# Database
# Khusus pengguna Docker Desktop di Windows/Mac
DATABASE_URL=postgresql://postgres:pgpg@host.docker.internal:5432/kelarin

# JWT
SECRET_KEY=your-secret-key-minimum-32-characters
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
ALLOWED_ORIGINS=http://localhost:5173