@import "tailwindcss";

/* =========================
   DARK MODE MANUAL SUPPORT
========================= */

html.dark {
  background-color: #111827;
  color: white;
}

html.dark body {
  background-color: #111827;
  color: white;
}

/* =========================
   TOAST ANIMATION
========================= */

@layer utilities {
  @keyframes bounce-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    60% {
      transform: translateX(-10%);
      opacity: 1;
    }

    100% {
      transform: translateX(0);
    }
  }

  .animate-bounce-in {
    animation: bounce-in 0.4s ease-out forwards;
  }
}